<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stefan_blog</title>
</head>
<body>
    <h1>用户评论：</h1>
    <form action="/index/" method="post">
        {% csrf_token %}   <!--加入这行 -->
        用户名：<input type="text" name="username" /><br />
{#        评论：<input type="text" name="talk" /><br />#}
        <h2>评论内容:</h2>
        <div class="form-group">
            <input type="text" name="talk" maxlength="250" class="form-control" title="" required id="talk" />
        </div>
        <div class="form-group">
            <button name = "submit" class="btn-primary">add topic</button>
        </div>
    </form>
     <h1>评论展示：</h1>
        <table border="1">
            <thead>
                <tr>用户名</tr>
                <tr>评论</tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.user }}</td>
                    <td>{{ item.talk }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>